@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-mine-shaft: #373737;
  --color-charcoal: #1D1D1D;
  --color-snowbank: #E9E9E9;
  --color-beluga: #F1F1F1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist), sans-serif;
}

.card {
  clip-path: path("M 380,100 L 360,100 A 60,60 0,0,1 300,40 L 300,20 A 20,20 0,0,0 280,0 L 20,0 A 20,20 0,0,0 0,20 L 0,460 A 20,20 0,0,0 20,480 L 380,480 A 20,20 0,0,0 400,460 L 400,120 A 20,20 0,0,0 380,100 Z");
}